<app-login-register-layout
pageTitle="Fazer login"
[loginSocial]="true"
secondaryButtonText="criar conta"
[disablePrimaryButton]="!loginForm.valid"
(submit)="submit()"
(secondaryButtonOnClick)="navigateTo('register')"
[keepConnectionOption]="true"
>

<form [formGroup]="loginForm">
    <app-form-input
    formControlName="username"
    type="text"
    placeholder="Nome de usuário"
    >
    </app-form-input>
    <app-form-input
    formControlName="password"
    type="password"
    placeholder="Senha"
    >
    </app-form-input>
</form>

<ng-container login-social>

<app-social-login-methods
iconPath="/assets/social-icons/facebook.png"
hslColor="214 90% 53%"
maxHeight="40px"
/>
<app-social-login-methods
iconPath="/assets/social-icons/google.png"
hslColor="0 0% 92%"
maxHeight="40px"
/>
<app-social-login-methods
iconPath="/assets/social-icons/apple.png"
hslColor="0 0% 0%"
maxHeight="40px"
/>

</ng-container>


<ng-container primary-button>
    <i class="fi fi-rr-arrow-small-right primary-button-icon"></i>
</ng-container>

</app-login-register-layout>