<div class="theme" (click)="toggleThemeMenu($event)" style="view-transition-name: theme-selector;">
   
    <i class="fi fi-rr-brightness"></i>
    <!-- <i class="fi fi-rr-moon"></i> -->
     @if(isExpanded) {
        <div class="theme__options" (click)="$event.stopPropagation()" @fadeInOut>
           <app-dropdown-selection
           name="Tema"
           [items]="themes"
           (clickedItem)="handleThemeChange($event)"
           >
           </app-dropdown-selection>
   
           <app-button
           [name]="darkMode ? 'Claro' : 'Escuro'"
           type="filled"
           minWidth="90px"
           (onClick)="toggleDarkMode()"
           >
           </app-button>
        </div>
     }
</div>
