.input-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    input{
        color: hsl(var(--card-foreground));
        font-size: 1em;
        border-radius: var(--radius);
        border: 1px solid hsl(var(--input));
        padding: .75em 1.25em;
        width: 100%;
        background-color: transparent;
        text-overflow: ellipsis;
        outline: 2px solid transparent;
        transition: outline 150ms ease-in-out;
        &:focus{
            outline: hsl(var(--ring)) solid 2px;
            outline-offset: -1px;
            border-color: hsl(var(--ring));
        }
        &.error{
            outline: hsl(var(--destructive)) solid 2px;
            border-color: transparent;
            &:focus{
                border-color: transparent;
                outline-offset: 0;
            }
        }
    }

    .placeholder-title{
        position: absolute;
        --padding: .3em;
        padding-bottom: .3em;
        text-wrap: nowrap;
        padding-inline: var(--padding);
        left: calc(1.25em - var(--padding));
        top: .75em;
        user-select: none;
        pointer-events: none;
        background-color: hsl(var(--card));
        border-radius: var(--radius);
        color: hsl(var(--card-foreground) / .3);
        transition: color 150ms ease-in-out,
         top 200ms ease-in-out,
         transform 200ms ease-in-out,
         padding-inline 200ms ease-in-out;
    }
    
    input:focus + .placeholder-title, .placeholder-title.filled{
        top: 0;
        transform: translateY(-50%) scale(0.9);
        padding-inline: .4em;
    }

    input:focus + .placeholder-title{
        color: hsl(var(--ring));
    }

    input.error + .placeholder-title{
        color: hsl(var(--destructive) / .6);
    }

    input.error:focus + .placeholder-title, input.error + .placeholder-title.filled{
        color: hsl(var(--destructive));
    }
    

    .show-password-btn{
        cursor: pointer;
        padding: .25em;
        position: absolute;
        right: 1.25em;
        font-size: 1em;
        background-color: transparent;
        border: 0;
        color: hsl(var(--card-foreground) / .3);
        transition: color 150ms ease-in-out;
        &:hover, .fi-br-eye-crossed{
            color: hsl(var(--card-foreground));
        }
    }

    //remove default hide password button
    input[type="password"]::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        display: none !important;
    }
      input[type="password"]::-ms-reveal {
        display: none;
    }

    .invalid{
        width: 100%;
        font-size: .8em;
        font-weight: 600;
        color: hsl(var(--destructive));
        position: relative;
        // bottom: -1.4em;
    }
}
