<div class="input-wrapper">
    <input
    #input
    [value]="value"
    (input)="onInput($event)"
    [type]="showPassword ? 'text' : type"
     />
     <span [ngClass]="{'filled':input.value.length > 0}"
      class="placeholder-title"
      >
     {{placeholder}}
     </span>
     @if(!hideShowPassword() && type === "password"){
         <button class="show-password-btn" (click)="showPassword = !showPassword">
            @if(showPassword){
                <i class="fi fi-br-eye-crossed"></i>
            }@else{
                <i class="fi fi-br-eye"></i>
            }
        </button>
     }

</div>