<app-login-register-layout
pageTitle="Crie sua conta"
[loginSocial]="false"
secondaryButtonText="Fazer login"
[disablePrimaryButton]="!registerForm.valid"
(submit)="submit()"
(secondaryButtonOnClick)="navigateTo('login')"
[keepConnectionOption]="false"
>

<form [formGroup]="registerForm">
    <app-input
    formControlName="name"
    type="text"
    placeholder="Nome"
    (inputElement)="isValidForm($event)"
    >
    @if(registerForm.controls.name.invalid &&
    registerForm.controls.name.touched || registerForm.controls.name.dirty){
       
       @if(registerForm.controls.name.errors?.['required']){
           <small @fadeInOut>Campo obrigatório</small>
       } @else if(registerForm.controls.name.errors?.['noSpecialCharacters']){
           <small @fadeInOut>Caracteres especiais não são permitidos</small>
       }
   }
    </app-input>

    <app-input
    formControlName="username"
    type="text"
    placeholder="Nome de usuário"
    (inputElement)="isValidForm($event)"
    >
    @if(registerForm.controls.username.invalid &&
     registerForm.controls.username.touched || registerForm.controls.username.dirty){
        
        @if(registerForm.controls.username.errors?.['required']){
            <small @fadeInOut>Campo obrigatório</small>
        } @else if(registerForm.controls.username.errors?.['noSpaceAllowed']){
            <small @fadeInOut>Nome de usuário não pode conter espaço</small>
        }
    }
    </app-input>

    <app-input
    formControlName="dateBirth"
    type="date"
    placeholder="Data de nascimento"
    (inputElement)="isValidForm($event)"
    >
    @if(registerForm.controls.dateBirth.invalid &&
     registerForm.controls.dateBirth.touched || registerForm.controls.dateBirth.dirty){
        
        @if(registerForm.controls.dateBirth.errors?.['required']){
            <small @fadeInOut>Campo obrigatório</small>

        }@else if (registerForm.controls.dateBirth.errors?.['invalidDateFormat']) {
            <small @fadeInOut>{{registerForm.controls.dateBirth.errors?.['invalidDateFormat']}}</small>
        }
    }
    </app-input>
    
    <app-input
    formControlName="email"
    type="email"
    placeholder="E-mail"
    (inputElement)="isValidForm($event)"
    >
    @if(registerForm.controls.email.invalid &&
    registerForm.controls.email.touched || registerForm.controls.email.dirty){
       
       @if(registerForm.controls.email.errors?.['required']){
           <small @fadeInOut>Campo obrigatório</small>
       } @else if(registerForm.controls.email.errors?.['email']){
           <small @fadeInOut>Formato inválido</small>
       }
   }
    </app-input>

    <app-input
    formControlName="password"
    type="password"
    placeholder="Senha"
    [hideShowPassword]="true"
    (inputElement)="isValidForm($event)"
    >
    @if(registerForm.controls.password.invalid &&
    registerForm.controls.password.touched || registerForm.controls.password.dirty){
       
       @if(registerForm.controls.password.errors?.['required']){
           <small @fadeInOut>Campo obrigatório</small>
       } @else if(registerForm.controls.password.errors?.['minlength']){
           <small @fadeInOut>A senha deve conter no mínimo 5 caracteres</small>
       } @else if(registerForm.controls.password.errors?.['noSpaceAllowed']){
           <small @fadeInOut>A senha não pode conter espaços</small>
       } @else if(registerForm.controls.password.errors?.['requiredSpecialCharacters']){
           <small @fadeInOut>A senha deve conter no mínimo um caráctere especial: !&#64;#$%^&*</small>
       }
   }
    </app-input>
    
    <app-input
    formControlName="passwordConfirm"
    type="password"
    placeholder="Confirmar senha"
    [hideShowPassword]="true"
    (inputElement)="isValidForm($event)"
    >
    @if(registerForm.controls.passwordConfirm.invalid &&
    registerForm.controls.passwordConfirm.touched || registerForm.controls.passwordConfirm.dirty){
       
       @if(registerForm.controls.passwordConfirm.errors?.['required']){
           <small @fadeInOut>Campo obrigatório</small>
       } @else if(registerForm.controls.passwordConfirm.errors?.['passwordMismatch']){
           <small @fadeInOut>Senhas diferentes</small>
       }
   }
    </app-input>

    <button type="submit" style="display: none;"></button>
</form>

<!-- <ng-container login-social>

<app-social-login-methods
iconPath="/assets/social-icons/facebook.png"
hslColor="214 90% 53%"
maxHeight="40px"
/>
<app-social-login-methods
iconPath="/assets/social-icons/google.png"
hslColor="0 0% 92%"
maxHeight="40px"
/>
<app-social-login-methods
iconPath="/assets/social-icons/apple.png"
hslColor="0 0% 0%"
maxHeight="40px"
/>

</ng-container> -->


<ng-container primary-button>
    <i class="fi fi-rr-enter primary-button-icon"></i>
</ng-container>

</app-login-register-layout>