<main [ngClass]="{'main--large': largeContent}">
    <section class="form-container ark">
        <header>
            <h1 class="logo">LOGO</h1>
            <app-theme-selector></app-theme-selector>
        </header>

        <div class="form-wrapper" style="view-transition-name: form-wrapper;">

            <!-- ALERT MESSAGE -->
            <div class="alert--block">
                @if(alertInfo.title){
                    <div @popUp class="alert" [ngStyle]="{ 'background-color': alertInfo.color == 'red' ? 'hsl(var(--destructive))' : 'hsl(var(--successful))' }">
                        <h4 class="alert__title">{{alertInfo.title}}</h4>
                        <p class="alert__text">{{alertInfo.description}}</p>
                    </div>
                }
            </div>
            <!-- ALERT MESSAGE -->

            <h2>{{pageTitle}}</h2>
            <ng-content>
            </ng-content>

            @if(!disableAllButtons){
                <div *ngIf="loginSocial || keepConnectionOption()" class="info-wrapper">
    
                    <div *ngIf="loginSocial" class="login-social">
                        <ng-content select="[login-social]"></ng-content>
                    </div>
    
                    @if(keepConnectionOption()){
                        <app-checkbox 
                            [textLabel]="'Manter login'"
                            nameAttribute="keepConnection"
                            >
                        </app-checkbox>
                    }
                </div>
            }
        </div>
        
        
        <div *ngIf="!disableAllButtons" class="action-wrapper">
            <button type="submit" (click)="submit()" class="primary-button" type="button" 
            [disabled]="disablePrimaryButton" style="view-transition-name: primary-button-login-register;">
                <ng-content select="[primary-button]"></ng-content>
            </button>
            <button type="text" class="secondary-button" href="" (click)="secondaryButtonOnClick.emit()"
             style="view-transition-name: secondary-button-login-register;">
                {{secondaryButtonText()}}
            </button>
        </div>

    </section>

    <section class="content-container" style="view-transition-name: content-container;">
        <img src="/assets/illustrations/castle.jpg" alt="" class="illustration">
    </section>
</main>