<main>
    <section class="form-container ark">
        <h1 class="logo">LOGO</h1>

        <div class="form-wrapper" style="view-transition-name: form-title;">

            <div class="alert--block">
                @if(alertInfo.title){
                    <div @popUp class="alert" [ngStyle]="{ 'background-color': alertInfo.color == 'red' ? 'hsl(var(--destructive))' : 'hsl(var(--successful))' }">
                        <h4 class="alert__title">{{alertInfo.title}}</h4>
                        <p class="alert__text">{{alertInfo.description}}</p>
                    </div>
                }
            </div>

            <h2>{{pageTitle}}</h2>
            <ng-content>
            </ng-content>

            <div *ngIf="loginSocial || keepConnectionOption()" class="info-wrapper">

                <div *ngIf="loginSocial" class="login-social">
                    <ng-content select="[login-social]"></ng-content>
                </div>

                @if(keepConnectionOption()){
                    <div class="keep-connection-wrapper">
                        <button
                            (click)="keepLogin = !keepLogin"
                            role="checkbox"
                            [attr.aria-checked]="keepLogin ? true : false"
                            name="keep-connection" 
                            id="keep-connection">
    
                            <span *ngIf="keepLogin" @fadeInOut><i class="fi fi-sr-check"></i></span>
                        </button>
                        <label for="keep-connection">Manter login</label>
                    </div>
                }
            </div>
        </div>
        
        
        <div class="action-wrapper">
            <button (click)="submit()" class="primary-button" type="button" [disabled]="disablePrimaryButton">
                <ng-content select="[primary-button]"></ng-content>
            </button>
            <button type="text" class="secondary-button" href="" (click)="secondaryButtonOnClick.emit()">{{secondaryButtonText()}}</button>
        </div>

    </section>

    <section class="content-container">
        <img src="/assets/illustrations/zyra-wallpaper.jpg" alt="" class="illustration">
    </section>
</main>