<main>
    <section class="form-container">
        <h1>LOGO</h1>

        <div class="form-wrapper">
            <h2>Login Titulo</h2>
            <ng-content>
            </ng-content>
        </div>
        
        <div class="info-wrapper">
            <div class="login-social"></div>
            <input type="checkbox" name="keep-connection" id="keep-connection">
            <label for="keep-connection">Manter login</label>
        </div>
        
        <div class="action-wrapper">
            <button class="primary-button" type="button">LOGAR</button>
            <a href="">CRIAR CONTA</a>
        </div>

    </section>

    <section class="content-container">
        <img src="" alt="" class="illustration">
    </section>
</main>