/* You can add global styles to this file, and also import other style files */
@import url(./app/style/variables/style-variables.scss);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

html, body{
    height: 100%;
}

img{
    display: block;
    max-width: 100%;
}

.fi{
    display: flex;
}

::view-transition-group(main-illustration),
::view-transition-old(main-illustration),
::view-transition-new(main-illustration){
    height: auto;
    width: auto;
}