.registry{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.registry, .editor {
    
    &__config {
        display: flex;
        gap: 1em;
        justify-content: space-between;
    }

    &__search-bar {
        width: max(40%, 350px);
    }

    &__options {
        display: flex;
        max-width: 120px;
        flex-grow: 1;
    }

    &__columns-control {
        width: 100%;
        font-size: .8em;
    }

    // ----------------------- tables section ------------------
    &__table__container {
        border-radius: var(--radius);
        border: 1px solid hsl(var(--border));
        max-height: 320px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            overflow: hidden;
            background-color: hsl(var(--border));
            border-radius: 0 10px 10px 0;
            &:horizontal{
            border-radius: 0 10px 10px 0;
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsl(var(--muted-foreground));
            border-radius: 0 10px 10px 0;
            &:horizontal{
            border-radius: 0 0 10px 10px;
            }
        }
    }

    &__table {
        font-size: .9em;
        border-collapse: collapse;
        width: 100%;
    }

    &__header-body {
        position: sticky;
        z-index: 2;
        top: 0;
        box-shadow: 0 1px 0 hsl(var(--border));
        background-color: hsl(var(--card));
    }

    &__body {
        background-color: hsl(var(--card));
    }

    &__header-row,
    &__row {
        text-align: center;
        width: 100%;
        height: 50px;
    }

    &__row {
        border-bottom: 1px solid hsl(var(--border));
        font-size: .7em;

        &:last-child {
            border: 0;
        }
    }

    &__cell {
        padding-inline: 1em;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__header-cell,
    &__cell {

        max-width: 300px;

        &--actions-right {
            position: sticky;
            right: 0;
            background-color: hsl(var(--card));
        }
        
    }

    &__header-cell {
        font-weight: 500;
        color: hsl(var(--muted-foreground));
        text-wrap: nowrap;
        &__sort{
            display: inline-flex;
            font-size: .6em;
            cursor: pointer;
            opacity: .4;
            transition: all 150ms ease-in-out;
            &--active{
                opacity: 1;
                font-size: .64em;
            }
            &--rotate{
                transform: rotate(180deg);
            }
        }
    }

    &__item {
        max-width: 100px;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        // padding: 10px;
        display: block;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0);
        transition: text-shadow 400ms ease-in-out;

        &--censored {
            cursor: pointer;
            color: transparent;
            text-shadow: 0 0 10px hsl(var(--card-foreground) / .5);
            position: relative;
            user-select: none;
        }
    }

    &__edit-button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-weight: 600;
        color: hsl(var(--alert));
        transition: color 150ms ease-in-out;
        &:hover {
            text-decoration: underline;
        }
        &--active{
            color: hsl(var(--muted-foreground));
            text-decoration: underline;
        }
    }

    &__controllers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;
        font-size: .7em;
    }

    &__paginator{
        display: flex;
        align-items: center;
        gap: 1em;
    }

}

//-------------- editor -------------//
.editor{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    
    &__background{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: hsla(var(--popover-background));
        z-index: -1;
    }
    &__foreground{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        border-radius: calc(var(--radius) * 1.5);
        width: min(1100px, 85%);
        max-height: (75%);
        background-color: hsl(var(--popover));
        color: hsl(var(--popover-foreground));
        padding: 1em;
    }

    

    &__table__container{
        width: 100%;
        max-height: 100%;
    }


    &__controllers{
        width: min(350px, 100%);
    }

    
    &__input{
        outline: 0;
        border: 0;
        color: hsl(var(--card-foreground) / .5);
        max-width: 100px;
        background-color: transparent;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        
        &--modified{
            color: hsl(var(--card-foreground));
        }

        &.ng-invalid{
            color: hsl(var(--destructive));
        }
    }

    // &__row--deleted{
    //     input.editor__input, span.editor__item--id{
    //         color: hsl(var(--destructive))
    //     }
    //     span.editor__item--id{
    //         font-weight: 600;
    //     }
    // }

    &__row{
        transition: background-color 200ms ease-in-out;
        &--edited{
            background-color: hsl(var(--successful) / .15);
            input.editor__input--modified{
                color: hsl(var(--successful));
            }
        }

        &--error{
            background-color: hsl(var(--destructive) / .15);
        }

        &--deleted{
            background-color: hsl(var(--destructive) / .15);
            input.editor__input, span.editor__item--id{
                color: hsl(var(--destructive));
            }
            span.editor__item--id{
                font-weight: 600;
            }
        }

        &--undo{
            background-color: hsl(var(--alert) / .15);
        }
    }
    
    &__item--id{
        display: block;
        color: hsl(var(--muted-foreground));
        font-weight: 500;
        min-width: 130px;
        text-wrap: wrap;
        font-size: .9em;
    }

    &__cell{
        transition: background-color 200ms ease-in-out;
        &--edited, &--error, &--deleted, &--undo{
            background-color: transparent;
        }
        &--actions-left{
            font-size: 1.4em;
        }
        &--icon{
            transition: color 150ms ease-in-out;
            cursor: pointer;
            &-delete:hover{
                color: hsl(var(--destructive));
            }
            &-undo:hover{
                color: hsl(var(--alert));
            }
        }
        &__actions__wrapper{
            display: flex;
            gap: .5em;
            align-items: center;
            justify-content: start;
        }
    }

    
}