<app-login-register-layout
pageTitle="Painel de controle dos usuários"
[disableAllButtons]="true"
[largeContent]="true"
>
<section class="registry">
    <div class="registry__config">
        <div class="registry__search-bar">
            <app-input
            type="text"
            placeholder="Pesquisar"
            ></app-input>
        </div>
        <div class="registry__options">
            <div class="registry__columns-control">
                <app-dropdown-selection
                name="Colunas"
                [items]="tableColumns"
                (clickedItem)="changeTable($event.name)"
                >

                </app-dropdown-selection>
            </div>
        </div>
    </div>
    <div class="registry__table__container">
        <table class="registry__table">
            <thead class="registry__header-body">
                <tr class="registry__header-row">
                    @for(column of tableColumns; track $index){

                        @if(column.isActive){
                            <th class="registry__header-cell registry__header-cell" @slide>{{column.name}}
                                <i class="fi fi-sr-sort-alt registry__header-cell__sort"
                                (click)="sortRegistry(column.name, $index)"></i>
                            </th>
                        }
                    }
                    <th class="registry__header-cell registry__header-cell--actions-right"></th>
                </tr>
            </thead>
            <tbody class="registry__body">
                <ng-container *ngIf="showTableRows">
                <tr *ngFor="let user of users$ | async" class="registry__row" @fadeInOut>
                    @if (tableColumns[0].isActive) {
                        <td class="registry__cell registry__cell--id" [title]="user.id" @slide>
                            <span class="registry__item">{{user.id}}</span>
                        </td>
                    }
                    @if (tableColumns[1].isActive) {
                        <td class="registry__cell registry__cell--name" [title]="user.name" @slide>
                            <span class="registry__item">{{user.name}}</span>
                        </td>
                    }
                    @if (tableColumns[2].isActive) {
                        <td class="registry__cell registry__cell--birthDate" [title]="user.birthDate" @slide>
                            <span class="registry__item">{{user.birthDate}}</span>
                        </td>
                    }
                    @if (tableColumns[3].isActive) {
                        <td class="registry__cell registry__cell--email" [title]="user.email" @slide>
                            <span class="registry__item">{{user.email}}</span>
                        </td>
                    }
                    @if (tableColumns[4].isActive) {

                        <td class="registry__cell registry__cell--username" [title]="user.username" @slide>
                            <span class="registry__item">{{user.username}}</span>
                        </td>
                    }
                    @if (tableColumns[5].isActive) {
                        <td class="registry__cell registry__cell--password" 
                        [title]="password.classList.contains('registry__item--censored') ? 'Censored' : user.password" @slide>
                            <span #password class="registry__item registry__item--censored" 
                            (click)="toggleShowPassword($event)">{{user.password}}</span>
                        </td>
                    }
                    <td class="registry__cell registry__cell--actions-right">
                        <button type="button" class="registry__edit-button" 
                        [ngClass]="{'registry__edit-button--active': isUserOnRegisterList(user)}"
                        (click)="controlRowsAndFormGroup(user)">Editar</button>
                    </td>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="registry__controllers">
        <div class="registry__panel-edit-button">
            <app-button name="Painel de edição" 
            type="filled"
            [isDisabled]="userControl.length > 0 ? false : true"
            (onClick)="openEditor()"></app-button>
        </div>
        <div class="registry__paginator">
            <app-button name="Anterior" [isDisabled]="true"></app-button>
            <app-button name="Próximo"></app-button>
        </div>
    </div>
</section>




<section *ngIf="isEditorActive" class="editor" @parentAnimation>
    <div class="editor__background" (click)="closeEditor()" @fadeInOut></div>
    <div class="editor__foreground" @popUp>
        <h1 class="editor__title">Editor de registro</h1>
        <div class="editor__table__container">
            <form [formGroup]="userForm">
                <table class="editor__table">
                    <thead class="editor__header-body">
                        <tr class="editor__header-row">

                            <th class="editor__header-cell"></th>
                            @for(column of tableColumns; track $index){
                                <th class="editor__header-cell editor__header-cell--id">{{column.name}}</th>
                            }
                            <th class="editor__header-cell editor__header-cell--actions-right"></th>
                        </tr>

                    </thead>
                    <tbody class="editor__body" formArrayName="user">
                        <tr *ngFor="let user of getAllUsersForm().controls; let i = index"
                        [formGroupName]="i" class="editor__row" 
                        [ngClass]="{
                            'editor__row--edited': userStatus(i) === 'edited',
                            'editor__row--error': userStatus(i) === 'error',
                            'editor__row--deleted': userStatus(i) === 'deleted',
                            'editor__row--undo': userStatus(i) === 'undo',
                        }">
                        
                            <td class="editor__cell editor__cell--actions-left">
                                <div class="editor__cell__actions__wrapper">
                                    @if(userStatus(i) !== 'deleted'){
                                        <i class="fi fi-rr-circle-xmark editor__cell--icon editor__cell--icon-delete"
                                        (click)="openModalOnUserDelete(userControl[i].username, user, user.value.id)">
                                        </i>
                                    }

                                    @if(userStatus(i) === 'edited' && isFormChanged(userControl[i], user)){
                                        <i class="fi fi-rr-trash-undo editor__cell--icon editor__cell--icon-undo"
                                        (click)="undoChanges(user, i)">
                                        </i>
                                    }
                                </div>
                            </td>
                            <td class="editor__cell editor__cell--id" [title]="user.value.id">
                                <span class="editor__item--id">{{user.value.id}}</span>
                            </td>
                            
                            <td class="editor__cell editor__cell--name" [title]="user.value.name">
                                <input #editorNameInput type="text" class="editor__input"
                                [ngClass]="{'editor__input--modified': user.value.name !== userControl[i].name}"
                                formControlName="name">
                                @if(getUserFormControl(i, 'name').invalid && isInputFocus(editorNameInput)) {
                                    <div class="editor__input__invalid" @fadeInOut>
                                        <div class="editor__input__invalid__header">
                                            <i class="fi fi-rr-info editor__input__invalid__icon"></i>
                                            <h4>Nome inválido</h4>
                                        </div>
                                        @if(getUserFormControl(i, 'name').errors?.['required']){
                                            <span class="editor__input__invalid__message">Campo obrigatório</span>
                                        } @else if(getUserFormControl(i, 'name').errors?.['noSpecialCharacters']){
                                            <span class="editor__input__invalid__message">Caracteres especiais não são permitidos</span>
                                        }
                                    </div>
                                }
                            </td>
                            
                            <td class="editor__cell editor__cell--birthDate" [title]="user.value.birthDate">
                                <input #editorBirthDateInput type="date" class="editor__input"
                                [ngClass]="{'editor__input--modified' : user.value.birthDate !== userControl[i].birthDate}"
                                formControlName="birthDate"> 
                                @if(getUserFormControl(i, 'birthDate').invalid && isInputFocus(editorBirthDateInput)) {
                                    <div class="editor__input__invalid" @fadeInOut>
                                        <div class="editor__input__invalid__header">
                                            <i class="fi fi-rr-info editor__input__invalid__icon"></i>
                                            <h4>Data inválida</h4>
                                        </div>
                                        @if(getUserFormControl(i, 'birthDate').errors?.['required']){
                                            <span class="editor__input__invalid__message">Campo obrigatório</span>
                                        } @else if(getUserFormControl(i, 'birthDate').errors?.['invalidDateFormat']){
                                            <span class="editor__input__invalid__message">{{getUserFormControl(i, 'birthDate').errors?.['invalidDateFormat']}}</span>
                                        }
                                    </div>
                                }
                            </td>
                            
                            <td class="editor__cell editor__cell--email" [title]="user.value.email">
                                <input #editorEmailInput type="text" class="editor__input"
                                [ngClass]="{'editor__input--modified' : user.value.email !== userControl[i].email}"
                                formControlName="email">
                                @if(getUserFormControl(i, 'email').invalid && isInputFocus(editorEmailInput)) {
                                    <div class="editor__input__invalid" @fadeInOut>
                                        <div class="editor__input__invalid__header">
                                            <i class="fi fi-rr-info editor__input__invalid__icon"></i>
                                            <h4>Email inválido</h4>
                                        </div>
                                        @if(getUserFormControl(i, 'email').errors?.['required']){
                                            <span class="editor__input__invalid__message">Campo obrigatório</span>
                                        } @else if(getUserFormControl(i, 'email').errors?.['email']){
                                            <span class="editor__input__invalid__message">Formato inválido</span>
                                        }
                                    </div>
                                }
                            </td>
                        
                            <td class="editor__cell editor__cell--username" [title]="user.value.username">
                                <input #editorUsernameInput type="text" class="editor__input"
                                [ngClass]="{'editor__input--modified' : user.value.username !== userControl[i].username}"
                                formControlName="username"> 
                                @if(getUserFormControl(i, 'username').invalid && isInputFocus(editorUsernameInput)) {
                                    <div class="editor__input__invalid" @fadeInOut>
                                        <div class="editor__input__invalid__header">
                                            <i class="fi fi-rr-info editor__input__invalid__icon"></i>
                                            <h4>Username inválido</h4>
                                        </div>
                                        @if(getUserFormControl(i, 'username').errors?.['required']){
                                            <span class="editor__input__invalid__message">Campo obrigatório</span>
                                        } @else if(getUserFormControl(i, 'username').errors?.['noSpaceAllowed']){
                                            <span class="editor__input__invalid__message">Nome de usuário não pode conter espaço</span>
                                        }
                                    </div>
                                }
                            </td>
                            

                            <td class="editor__cell editor__cell--password" [title]="user.value.password">
                                <input #editorPasswordInput type="text" class="editor__input"
                                [ngClass]="{'editor__input--modified' : user.value.password !== userControl[i].password}"
                                formControlName="password"> 
                                @if(getUserFormControl(i, 'password').invalid && isInputFocus(editorPasswordInput)) {
                                    <div class="editor__input__invalid" @fadeInOut>
                                        <div class="editor__input__invalid__header">
                                            <i class="fi fi-rr-info editor__input__invalid__icon"></i>
                                            <h4>Senha inválida</h4>
                                        </div>
                                        @if(getUserFormControl(i, 'password').errors?.['required']){
                                            <span class="editor__input__invalid__message">Campo obrigatório</span>
                                        } @else if(getUserFormControl(i, 'password').errors?.['minlength']){
                                            <span class="editor__input__invalid__message">A senha deve conter no mínimo 5 caracteres</span>
                                        } @else if(getUserFormControl(i, 'password').errors?.['nosSpaceAllowed']){
                                            <span class="editor__input__invalid__message">A senha não pode conter espaço</span>
                                        } @else if(getUserFormControl(i, 'password').errors?.['requiredSpecialCharacters']){
                                            <span class="editor__input__invalid__message">A senha deve conter no mínimo um caráctere especial: !&#64;#$%^&*</span>
                                        }
                                    </div>
                                }
                            </td>

                            <td class="editor__cell editor__cell--actions-right" [ngClass]="{
                                'editor__cell--edited': userStatus(i) === 'edited',
                                'editor__cell--error': userStatus(i) === 'error',
                                'editor__cell--deleted': userStatus(i) === 'deleted',
                                'editor__cell--undo': userStatus(i) === 'undo',
                                
                            }">
                                <app-button
                                [type]="userStatus(i) === 'deleted' ? 'transparent' : 'filled'"
                                minWidth="70px"

                                [name]="userStatus(i) === 'edited' ? 'Ok' : 
                                userStatus(i) === 'error' ? 'Aplicar' :
                                userStatus(i) === 'deleted' ? 'Removido' :
                                userStatus(i) === 'undo' ? 'Desfazer' :
                                'Aplicar'"

                                [isDisabled]="
                                userStatus(i) === 'edited' ? false :
                                userStatus(i) === 'deleted' ? true :
                                userStatus(i) === 'undo' ? false :
                                (!isFormChanged(userControl[i], user) || user.invalid)"

                                [status]="userStatus(i) === 'edited' ? 'ok' :
                                userStatus(i) === 'undo' ? 'alert' :
                                userStatus(i) === 'deleted' ? 'error' :
                                userStatus(i) === 'error'  ? 'error' :
                                'default'"

                                (onClick)="editUser(user, !user.invalid, user.value.id, user.value.name,
                                 user.value.birthDate, user.value.email,user.value.username, user.value.password)"
                                ></app-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="editor__controllers">
            <app-checkbox
            textLabel="Validadores"
            nameAttribute="disableValidatorsCheckbox"
            [checked]="validatorsActive"
            (onClick)="toggleValidators()"
            style="flex-shrink: 0;"
            ></app-checkbox>
            <app-button
            name="Aplicar todos"
            type="filled"
            [isExpanded]="true"
            [isDisabled]="isAllFormChanged() || userForm.invalid"
            (onClick)="editAllUsers(!userForm.invalid)"
            style="width: min(180px, 100%);"
            ></app-button>
        </div>
    </div>
</section>


</app-login-register-layout>